<h1 align="center">Listing articles</h1>

<!-- <div class="container">
  <p class="goto-home">
    <%-# This is a inline way to use glyphicons with ruby %>
    <%= link_to '<i class="glyphicon glyphicon-home"></i> Create an article'.html_safe,
                                                                             root_path,
                                                                             class: "btn btn-link" %>
  </p>
</div>

<div class="container">
  <p class="new-article">
    <%-# This is a inline way to use glyphicons with ruby %>
    <%= link_to '<i class="glyphicon glyphicon-plus"></i> Create an article'.html_safe,
                                                                             new_article_path,
                                                                             class: "btn btn-link" %>
  </p>
</div> -->

<%= render 'article', obj: @articles %>
