<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <a href="https://www.youtube.com/watch?v=ipQKBwQxoeQ">Peep n Creep</a>
      by <a href="https://alpha-blog-hasan.herokuapp.com">Hasan Zahid</a>
    </small>
    <nav>
      <ul>
        <li><%= link_to "About", welcome_about_path %></li>
      </ul>
    </nav>
  </footer>
</div>
